<%= render 'shared/header' %>
<div class="mypage-background-area">
  <h2>プロフィール編集</h2>

  <%= form_with model: @user, local: true do |f| %>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :introduction, "自己紹介" %><br/>
      <%= f.text_field :introduction %>
    </div>
    <div class="field">
      <%= f.label :userimage, "ユーザーアイコン" %><br>
      <%= f.file_field :user_image %>
    </div>
    <div class="actions">
      <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to t('devise.shared.links.back'), :back, class: "btn btn-secondary" %>
</div>
<%= render 'shared/footer' %>
